In [1]:
import pandas as pd

In [2]:
unmatched = pd.read_csv('/media/johnattan/LaCie/Twitter_Terms/ALCOHOL/2020-6.csv')
matched = pd.read_csv('/media/johnattan/LaCie/Twitter_Terms/ALCOHOL/GEO-Tweets.csv')

In [3]:
unmatched.head()

,Unnamed: 0,id,text,created_at,urls,profile_location,geotag_location,geotag_country
0,0,1267244471277760513,As the country looks to bounce back from the p...,2020-06-01 00:00:00+00:00,['https://twitter.com/i/web/status/12672444712...,"Baltimore, MD",NaN,NaN
1,1,1267244894915002373,üè≠ We‚Äôve diverted resources to make isopropyl a...,2020-06-01 00:01:41+00:00,['https://twitter.com/i/web/status/12638328504...,‡¥ï‡µá‡¥∞‡¥≥‡¥Ç,NaN,NaN
2,2,1267244929320919041,As the country looks to bounce back from the p...,2020-06-01 00:01:50+00:00,['https://twitter.com/i/web/status/12672444712...,Maryland,NaN,NaN
3,3,1267245217821982720,Coronavirus cases is near 2 million in the US ...,2020-06-01 00:02:58+00:00,['https://twitter.com/i/web/status/12672428215...,ùôñùôûùôßùô•ùô°ùôñùô£ùôö,NaN,NaN
4,4,1267245262210244608,Coronavirus cases is near 2 million in the US ...,2020-06-01 00:03:09+00:00,['https://twitter.com/i/web/status/12672428215...,bffies :P ||,NaN,NaN

In [4]:
matched.head()

,Unnamed: 0,Unnamed: 0.1,id,text,created_at,state
0,0,0,1.215713e+18,"Jan. 10 news: Alcohol deaths double, new coron...",2020-01-10 19:11:32+00:00,NY
1,1,1,1.217161e+18,Jan. 14 News: Air in Australia posed a threat ...,2020-01-14 19:06:03+00:00,NY
2,2,3,1.217169e+18,How to handwash? Use üßº and water for at least ...,2020-01-14 19:38:09+00:00,NJ
3,3,9,1.217170e+18,How to handwash? Use üßº and water for at least ...,2020-01-14 19:40:43+00:00,NY
4,4,15,1.217170e+18,How to handwash? Use üßº and water for at least ...,2020-01-14 19:42:09+00:00,NY

In [30]:
unmatched.index[unmatched.created_at == '2020-06-01 00:00:00+00:00']

[0]

In [27]:
matched.iloc[1121].values

array([1121, 0, 1.2672444712777605e+18,
       'As the country looks to bounce back from the pandemic, some state leaders say more permanent alcohol-on-demand laws could be the fuel that the restaurant and service industry needs to restart their economies. https://t.co/2FbP06AQ0E',
       '2020-06-01 00:00:00+00:00', 'MD'], dtype=object)

# OK we have the indexes where both meet at June 1st, 2020, now we'll check 100 of em

In [59]:
base = 1121 + 20
matched.iloc[base:(base + 10)].head(50)

,Unnamed: 0,Unnamed: 0.1,id,text,created_at,state
1141,1141,149,1.267308e+18,The latest Daily Sanitizer News! https://t.co/...,2020-06-01 04:11:01+00:00,CA
1142,1142,179,1.267318e+18,DEMOCRATS LAST WEEK: It‚Äôs ok if you die from s...,2020-06-01 04:52:57+00:00,CA
1143,1143,185,1.267319e+18,DEMOCRATS LAST WEEK: It‚Äôs ok if you die from s...,2020-06-01 04:55:32+00:00,PA
1144,1144,186,1.267319e+18,DEMOCRATS LAST WEEK: It‚Äôs ok if you die from s...,2020-06-01 04:55:37+00:00,MI
1145,1145,188,1.267319e+18,DEMOCRATS LAST WEEK: It‚Äôs ok if you die from s...,2020-06-01 04:56:04+00:00,PA
1146,1146,190,1.267319e+18,DEMOCRATS LAST WEEK: It‚Äôs ok if you die from s...,2020-06-01 04:57:23+00:00,CA
1147,1147,194,1.267320e+18,DEMOCRATS LAST WEEK: It‚Äôs ok if you die from s...,2020-06-01 05:00:04+00:00,TX
1148,1148,201,1.267320e+18,DEMOCRATS LAST WEEK: It‚Äôs ok if you die from s...,2020-06-01 05:01:27+00:00,CA
1149,1149,202,1.267320e+18,DEMOCRATS LAST WEEK: It‚Äôs ok if you die from s...,2020-06-01 05:01:56+00:00,AL
1150,1150,206,1.267321e+18,DEMOCRATS LAST WEEK: It‚Äôs ok if you die from s...,2020-06-01 05:03:24+00:00,CA

In [65]:
base = 200
unmatched.iloc[base:(base + 10)].head(50)

,Unnamed: 0,id,text,created_at,urls,profile_location,geotag_location,geotag_country
200,200,1267320314649772040,@DrZweliMkhize minister it's a humble request ...,2020-06-01 05:01:23+00:00,['https://twitter.com/i/web/status/12673035444...,Mountain Of Paragon,NaN,NaN
201,201,1267320332815413248,DEMOCRATS LAST WEEK: It‚Äôs ok if you die from s...,2020-06-01 05:01:27+00:00,['https://twitter.com/i/web/status/12673181917...,"Los Angeles, CA",NaN,NaN
202,202,1267320452768321536,DEMOCRATS LAST WEEK: It‚Äôs ok if you die from s...,2020-06-01 05:01:56+00:00,['https://twitter.com/i/web/status/12673181917...,"Alabama, USA",NaN,NaN
203,203,1267320558393397250,@DrZweliMkhize minister it's a humble request ...,2020-06-01 05:02:21+00:00,['https://twitter.com/i/web/status/12673035444...,Kithi,NaN,NaN
204,204,1267320607915544577,DEMOCRATS LAST WEEK: It‚Äôs ok if you die from s...,2020-06-01 05:02:33+00:00,['https://twitter.com/i/web/status/12673181917...,Colombia,NaN,NaN
205,205,1267320746424127488,"From 9am today, the sale of alcohol will be al...",2020-06-01 05:03:06+00:00,['https://twitter.com/i/web/status/12673207464...,South Africa,NaN,NaN
206,206,1267320823234191360,DEMOCRATS LAST WEEK: It‚Äôs ok if you die from s...,2020-06-01 05:03:24+00:00,['https://twitter.com/i/web/status/12673181917...,"Rocklin, CA",NaN,NaN
207,207,1267320868692205568,The weakest part of them is the double envelop...,2020-06-01 05:03:35+00:00,['https://twitter.com/i/web/status/12673208686...,Calicut,"Kerala, India",IN
208,208,1267320899977576448,@DrZweliMkhize minister it's a humble request ...,2020-06-01 05:03:42+00:00,['https://twitter.com/i/web/status/12673035444...,Newcastle,NaN,NaN
209,209,1267320995980947462,"From 9am today, the sale of alcohol will be al...",2020-06-01 05:04:05+00:00,['https://twitter.com/i/web/status/12673207464...,"Milnerton, South Africa",NaN,NaN

|             | Pred Yes    | Pred No     |
| ----------- | ----------- | ----------- |
| Actual No   | 0           | 75          |
| Actual Yes  | 23          | 2           |

In [66]:
# Num Wrong
# 2
"""
    - Jersey Shore
    - USA
    - Listed multiple locations picked first one
"""

SyntaxError: invalid syntax (<ipython-input-66-ca19517a9ab1>, line 9)