In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px

In [12]:

state_labs = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

def fetch_data_kw(kw, dates):

    li = []

    for date in dates:
        dir = '/media/johnattan/LaCie/Twitter_Terms/' + kw + '/' + date + '.csv'
        df = pd.read_csv(dir, index_col=None, header=0)
        li.append(df)


    return pd.concat(li, axis=0, ignore_index=True)


def subset_date(df, date):
    inds = [x[0:7] == date for x in df.created_at.values]   
    
    return df[inds]

def subset_date_waves(df, wave):
    waves = {1:['2020-01', '2020-02'], 2:['2020-03', '2020-04'], 3:['2020-05', '2020-06']}

    inds = [x[0:7] in waves[wave] for x in df.created_at.values]   
    
    return df[inds]

#days = ['01', '02', '03', '04', '05', '06', '07', '08', '09'] + list(range(10,32))

def count_tweets(df, dates):
    counts = []
    for date in dates:
        tmp_df = subset_date_waves(df, date)
        counts.append(tmp_df.shape[0])

    return counts
 

def plot_lines():

    dates = ['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06']
    dates_m = ['2020-1', '2020-2', '2020-3', '2020-4', '2020-5', '2020-6']

    beer_df = fetch_data_kw('BEER', dates_m)
    wine_df = fetch_data_kw('WINE', dates_m)
    alco_df = fetch_data_kw('ALCOHOL', dates_m)
    drnk_df = fetch_data_kw('DRINKING', dates_m)
    liquor_df = fetch_data_kw('LIQUOR', dates_m)



    counts_beer = count_tweets(beer_df, dates)
    counts_wine = count_tweets(wine_df, dates)
    counts_alco = count_tweets(alco_df, dates)
    counts_drnk = count_tweets(drnk_df, dates)
    counts_liquor = count_tweets(liquor_df, dates)

    counts_df = pd.concat([
        pd.DataFrame({'Month' : np.arange(1,7), 'Counts' : counts_beer, 'Keyword' : 'BEER'}),
        pd.DataFrame({'Month' : np.arange(1,7), 'Counts' : counts_wine, 'Keyword' : 'WINE'}),
        pd.DataFrame({'Month' : np.arange(1,7), 'Counts' : counts_alco, 'Keyword' : 'ALCOHOL'}),
        pd.DataFrame({'Month' : np.arange(1,7), 'Counts' : counts_alco, 'Keyword' : 'DRINKING'}),
        pd.DataFrame({'Month' : np.arange(1,7), 'Counts' : counts_drnk, 'Keyword' : 'LIQUOR'})
    ])

    #return counts_df
    fig = px.line(counts_df, x="Month", y="Counts", color='Keyword', title = 'Keyword Tweet Volume Chart')
    fig.show()
    fig.write_image('figures/pop-lines-' + dates[0] + '--' + dates[-1] + '.png')

In [13]:
plot_lines()

KeyError: '2020-01'

,Unnamed: 0,id,text,created_at,urls,profile_location,geotag_location,geotag_country
0,0,1.215929e+18,Yeah i don't like Corona Beer much either Chin...,2020-01-11 09:31:00+00:00,['https://www.cbc.ca/news/world/china-virus-de...,Earth,NaN,NaN
1,1,1.215950e+18,@NPR I swore off Corona back in high school. A...,2020-01-11 10:54:11+00:00,NaN,"Denver, CO",NaN,NaN
2,2,1.217793e+18,Not saying anti-vaxxers are all idiots but the...,2020-01-16 12:56:04+00:00,NaN,"Midland, Ontario","Midland, Ontario",CA
3,3,1.217809e+18,A yes the virus that makes the infected believ...,2020-01-16 14:00:16+00:00,['https://twitter.com/CP24/status/121780824471...,"Toronto, Ontario",NaN,NaN
4,4,1.217843e+18,Since learning of Coronavirus I no longer drin...,2020-01-16 16:17:43+00:00,NaN,"Scotland, sometimes",NaN,NaN
...,...,...,...,...,...,...,...,...
240640,37721,1.270503e+18,Because who does not like a good craft beer or...,2020-06-09 23:47:20+00:00,['https://twitter.com/i/web/status/12703235502...,"Atlanta, GA",NaN,NaN
240641,37722,1.270503e+18,Ha! CORONAvirus. Like the beer,2020-06-09 23:48:09+00:00,NaN,"Reedsville, WI",NaN,NaN
240642,37723,1.270504e+18,"I know we are all crazy busy, but I would love...",2020-06-09 23:51:44+00:00,['https://twitter.com/i/web/status/12704810221...,Minneapolis,NaN,NaN
240643,37724,1.270504e+18,Covid19 beer stash #87. Breaking out a special...,2020-06-09 23:53:43+00:00,NaN,"Portland, OR",NaN,NaN
240644,37725,1.270505e+18,"I know we are all crazy busy, but I would love...",2020-06-09 23:56:19+00:00,['https://twitter.com/i/web/status/12704810221...,"Minneapolis, MN",NaN,NaN