# Combine Train Data

In [1]:
import pandas as pd

In [5]:
PolicyData = pd.read_csv('/home/johnattan/Documents/CHIP/Twitter_Analysis/Train_Data/Monthly_Policy_Dem.csv', index_col=0)
PolicyData['Date'] = [str(x)[:7] for x in PolicyData.Date.values]

PolicyData['Date'] = pd.to_datetime(PolicyData['Date'],)

AlcData = pd.read_csv('/home/johnattan/Documents/CHIP/Twitter_Analysis/Build_Data/ALCOHOL-2020-01--2020-12.csv', index_col=0)
AlcData['Date'] = pd.to_datetime(AlcData['Date'])

TrainData = pd.merge(PolicyData, AlcData, on=['Date', 'State'])
TrainData.head()

        Date State  BarsClosed  new_case  new_death  Unemployment     Count
0 2020-01-01    AL         0.0        44          0           2.7  0.000306
1 2020-02-01    AL         0.0        56          1           2.6  0.000317
2 2020-03-01    AL         1.0      3155         48           2.6  0.000613
3 2020-04-01    AL         1.0      6805        336          13.2  0.000718
4 2020-05-01    AL         1.0     12061        480           7.9  0.000829

In [14]:
li = []

for state in TrainData.State.unique():
    tempDF = TrainData[TrainData.State == state][['new_case', 'new_death', 'Unemployment', 'Count']]
    li.append(tempDF.diff().iloc[2:])

TrainDiffs = pd.concat(li, axis=0, ignore_index=True)
TrainDiffs.head()

   new_case  new_death  Unemployment     Count
0    3099.0       47.0           0.0  0.000296
1    3650.0      288.0          10.6  0.000104
2    5256.0      144.0          -5.3  0.000112
3   13541.0       -3.0          -0.2 -0.000171
4   31561.0      483.0          -0.3  0.000282

# Model Building